<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
  <title>Pocketbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
      <div class="container">
        <img src="http://s3.amazonaws.com/codecademy-content/projects/pocketbook/logo.svg" height=55>
      </div>
    </div>

<%= yield %>

<div class="footer">
    <div class="container">
      <nav>
        <%= link_to "Contact", 'pages/contact' %>
        <%= link_to "HelpCenter", 'pages/help' %>
        <%= link_to "About", 'pages/about' %>
      </nav>
    </div>
</div>

</body>
</html>
